html{
  height:100%;
}
*{
  box-sizing: border-box;
}
body{
  height:100%;
  margin:0;
  padding:0;
  font-family: sans-serif;
}
li{
  list-style: none;
}

.section1{
  background-image: url("../img/index-sec1.jpg");
    background-image: url("../img/11.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-color: #ccc; */
  width:100%;
  /* height:100%; */
  height:auto;
  margin:0;
  overflow: hidden;
}
.section2{
  width:100%;
  /* height:40%; */
  height:auto;
  padding-bottom:20vh;
}
.section3{
  /* background-color: #525252; */
  background-image: url("../img/sec3-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}
.section4{
  width:100%;
  height:50%;
}
.section5{
  background-color: #666666;
  width:100%;
  height:40%;
}
.section6{
  width:100%;
  height:auto;
  padding-bottom: 10vh;
}
.section7{
  background-color: #02baab;
  width:100%;
  /* height:60%; */
  height:auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.section8{
  width:100%;
  height:auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}




.login::before{
  content: url("../img/login.png");
  background-size: 20px 20px;
  display: inline-block;
  width:20px;
  height:20px;
  /* float: left; */
  vertical-align: middle;
}
.register::before{
  content: url("../img/register.png");
  /* content:""; */
  /* content: "\260E"; */
  display: inline-block;
  width:40px;
  height:40px;
  fill: #ccc;
  float: left;
  vertical-align: middle;
}




.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.sec1_center{
  width:40vw;
  height:20vw;
  /* border:1px solid white; */
  margin:10vw auto;
  text-align: center;
}
.sec2_center{
  width:40vw;
  height:20vh;
  margin:4vw auto;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
}
.sec3_center{
  width:65vw;
  height:65%;
  margin:10vh auto;
  text-align: center;
}
.sec3_boxes{
  width:100%;
  height:60%;
  background-color: #ccc;
  margin-top: 6vh;
  position: relative;
}
.sec3_bottom{
  width:100%;
  height:10vh;
  background-color: #02baab;
  position: absolute;
  bottom: 0;
}
.section3{
  position: relative;
}

.hidden_flow{
  overflow: hidden;
}
.blue_font{
  color:#02baab;
}
.white_font{
  color:#fff;
}
.light_font{
  font-weight: lighter;
}
.sec1_center p{
  font-size: 3.5vw;
  line-height: 0.8;
}
.sec2_center .bigger{
  font-size: 1.5vw;
  margin:0;
}
.sec2_center .smaller{
  font-size: 0.9vw;
}
.sec1_center button{
  /* width:7vw; */
  height:4vh;
  border:0;
  font-size: 0.65vw;
}
.sec1_center button:hover{
  cursor: pointer;
}
.sec1_center .buttons{
  margin-top: 15%;
}
.sec1_center .blue_button{
  background-color:#02baab;
  color:white;
  border:1px solid #02baab;
}
.sec1_center .trans_button{
  background-color:transparent;
  color:#02baab;
  border:1px solid #02baab;
  box-sizing: border-box;
}
.bold{
  font-weight: bold;
}
.sec2_center button{
  width:7vw;
  height:4vh;
  border:0;
  font-size: 0.7vw;
  background-color:transparent;
  color:#02baab;
  border:1px solid #02baab;
  margin-top: 3vh;
}
.sec2_center .margin_top{
  margin-top: 6vh;
}
.sec3_center .bigger{
  font-size: 1.5vw;
  margin:0;
  color:white;
}
.sec3_center .smaller{
  font-size: 0.9vw;
  width:80%;
  margin:0 auto!important;
  color:white;
  margin-top: 5vh;
}
.sec3_center hr{
  width: 2.5vw;
  height:0.6vh;
  background-color:white;
  border: 0;
  margin-top: 2vh;
}
.sec3_center .box{
  width:32%;
  height:100%;
  background-color: white;
  float:left;
  overflow: hidden;
}
.sec3_center .box1,.sec3_center .box2{
  margin-right: 2%;
}
.box1_bottom{
  width:32%;
  height:8vh;
  background-color: #3d3d3d;
  bottom: 0;
  position: absolute;
}
.box3_bottom{
  width:32%;
  height:8vh;
  background-color: #3d3d3d;
  bottom: 0;
  position: absolute;
}
.box1_bottom p{
  margin:0;
}
.box3_bottom p{
  margin:0;
}
.left{
  float:left;
}
.right{
  float:right!important;
}
.box1_bottom div{
  width:90%;
}
.box3_bottom div{
  width:90%;
}
.box1_bottom .bigger{
  font-size: 0.8vw;
}
.box3_bottom .bigger{
  font-size: 0.9vw;
}
.box1_bottom .smaller{
  font-size: 0.8rem;
  margin-top: 0;
}
.box3_bottom .smaller{
  font-size: 0.8rem;
  margin-top: 0;
}
.box1_bottom .line1, .box3_bottom .line1{
  color:white;
  margin-left: auto!important;
  margin-right: auto!important;
  margin-top: 2vh!important;
}

.section3 .line2{
  margin-left: 0;
  margin-right: 0;
  color:#02baab!important;
  font-size: 0.7vw;
}
.line1 span img{
  width:60%;
}
.sec3_center .box2{
  background-color: #666666!important;
}
.sec3_center .box2 .icons{
  width:4vw;
  height:20vh;
  /* border:1px solid white; */
  margin:10vh auto;
}
.sec3_center .box2 .icons img{
  margin:0;
  padding:0;
}
.sec3_center .box2 .icons div{
  margin-top:1vh;
  padding:0;
}
.sec3_center .symbols{
  font-size: 1.5rem;
  color:white;
  line-height: 2.5;
}

.bottom_center{
  width:65%;
  height:100%;
  margin:0 auto;
  position: relative;
}
.sec3_bottom .bottom_center p, .sec3_bottom .bottom_center button{
  float:left;
  color:white;
  margin-top: 3vh;
}
.sec3_bottom .bottom_center p{
  margin-bottom:0;
  font-size: 1.2vw;
}
.sec3_bottom .bottom_center button{
  border:0;
  background-color: transparent;
  border:1.5px solid white;
  height:3.5vh;
  font-size: 0.7vw;
  right:0;
  position: absolute;
}
.box1_bottom .line2, .box3_bottom .line2{
  width:90%!important;
}
.sec4_center{
  width:65vw;
  margin:5vh auto;
  height:80%;
  text-align: center;
}
.lines .line1 div, .lines .line2 div{
  width:30vw;
  height:15vh;
  float:left;
}
.sec4_center .title{
  font-size: 1.5vw;
  margin:0;
}
.sec4_center hr{
  background-color: #eeeeee;
  width:2.5vw;
  height:0.6vh;
  border:0;
}
.sec4_center .lines{
  margin-left: 2vw;
  margin-top: 5vh;
}
.p_wrapper{
  text-align: left;
  width:88%!important;
  border:0!important;
  margin-left: 1vw;
  margin-top: 0.5vw;

}
.p_wrapper h5{
  font-weight: normal;
  font-size: 1.2vw;
  margin:0;
}
.sec4_center .lines .p_wrapper p{
  font-size: 0.8vw;
}
.lines .line1-1 span img{
  width:2.2vw;
}
.lines .line1-2 span img{
  width:2.1vw;
  margin-top: 0.5vw;
}
.lines .line2-1 span img{
  width:1.8vw;
  margin-top: 0.5vw;
}
.lines .line2-2 span img{
  width:2vw;
  margin-top: 0.8vw;
}
.lines span, .lines .p_wrapper{
  float:left;
}
.sec5_center{
  width:45vw;
  height:25vh;
  margin:8vh auto;
  text-align: center;
}
.sec5_center div{
  color:white;
  font-size: 1.1vw;
  margin-top:5vh;
}
.sec5_center p{
  color:#02baab;
  font-size: 0.8vw;
}
.sec6_center{
  width:60vw;
  height:auto;
  margin:0 auto;
  text-align: center;
  margin-top: 10vh;
}
.sec6_center .title{
  font-size: 1.5vw;
  margin:0;
}
.sec6_center hr{
  background-color: #eeeeee;
  width:2.5vw;
  height:0.6vh;
  border:0;
}
.sec6_center .post{
  width:32%;
  background-color: #ccc;
  height:50vh;
  float:left;
  margin-top: 6vh;
  position: relative;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.sec6_center .post1{
  background-image: url("../img/blog1-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sec6_center .post2{
  background-image: url("../img/blog2-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sec6_center .post3{
  background-image: url("../img/blog3-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sec6_center .post1, .sec6_center .post2{
  margin-right: 2%;
}
.sec8_center .card1{
  background-image: url("../img/profile1-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sec8_center .card2{
  background-image: url("../img/profile2-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sec8_center .card3{
  background-image: url("../img/profile3-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sec8_center .card4{
  background-image: url("../img/profile4-bg.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sec8_center .card button:hover{
  cursor: pointer;
}
.sec6_center .post .down{
    width:100%;
    height:50%;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.post h4{
  color:#02baab;
  margin: 0;
  font-size: 1.5vw;
}
.post .down span{
  float: left;
  font-size: 0.9vw;
}

.post .down p{
  font-size: 0.9vw;
}
.post .down .title_wrapper{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.sec7_center{
  margin:0 auto;
  text-align: center;
}
.sec7_center .title{
  font-size: 1.5vw;
  margin:0;
  color:white;
}
.sec7_center hr{
  background-color: white;
  width:2.5vw;
  height:0.6vh;
  border:0;
}
.sec7_center .inner_box{
  margin:5vh auto;
  width:57vw;
  height:50vh;
}
.sec7_center .inner_box .box_wrapper{
  float:left;
  /* width:15vw; */
  color:white;
}
.sec7_center .inner_box .dots_wrapper{
  margin-top:7.5vw;
}
.sec7_center .inner_box .dots_wrapper img{
  width:4vw;
}

.sec7_center .inner_box .box1{
  border-left-color:rgba(255,255,255,0.3) !important;
}
.sec7_center .inner_box .box2{
  border-top-color:rgba(255,255,255,0.3) !important;
}
.sec7_center .inner_box .box3{
  border-bottom-color:rgba(255,255,255,0.3) !important;
}

.sec7_center .inner_box .box{

    width:15vw;
    height:15vw;
    border-radius: 50%;
    border:5px solid white;
    padding:0;
}
.sec7_center .inner_box .box img{
  width:7vw;
  margin-top: 3.5vw;
}
.sec7_center .inner_box .box_wrapper1, .sec7_center .inner_box .box_wrapper2, .sec7_center .inner_box .dots_wrapper{
  margin-right: 1vw;
}
.sec7_center .inner_box h4{
  font-size: 3vw;
  margin:0;
}
.sec7_center .inner_box .box_wrapper p{
  margin-top:2vh;
  margin-bottom: 2vh;
  width:15vw;
  font-size: 1vw;
}
.sec8_center{
  width:55vw;
  height:56vh;
  /* border:1px solid black; */
  margin:0 auto;
  text-align: center;
}
.sec8_center .title{
  font-size: 1.5rem;
  margin:0;
}
.sec8_center hr{
  background-color: #eeeeee;
    width: 2.5vw;
    height: 0.6vh;
    border: 0;
}
.sec8_center .card_wrapper{
  width:100%;
  height:40vh;
  margin-top:5vh;
}
.sec8_center .card{
  width:23%;
  height:45vh;
  background-color: #ccc;
  float:left;
  position: relative;
  border:0.5px solid #ccc;
  z-index: 9988;
}
.sec8_center .card1, .sec8_center .card2, .sec8_center .card3 {
  margin-right: 1.45vw;
}
.sec8_center .small_card{
  background-color: white;
  width:70%;
  height:10vh;
  margin:0 auto;
  margin-top: 15vh;
  border:0.5px solid #ccc;
  position: relative;
  z-index: 9999;
}
.sec8_center .card .down{
  background-color: white;
  width:100%;
  height:55%;
  position: absolute;
  bottom: 0;
  /* z-index: 1999; */
}
.grey_font{
  color:#ccc;
}
.sec8_center .card h5{
  margin-top:2vh;
  margin-bottom: 0;
  font-size: 0.9vw;
}
.sec8_center .card p{
  margin-top: 1vh;
  margin-bottom:0;
  font-size: 0.8vw;
}
.sec8_center .down div{
  font-size: 0.7vw;
  /* margin-top: 8vh; */
  width:90%;
  margin:8vh auto;
  margin-bottom: 0;
}
.sec8_center .down button{
  border:0;
  background-color: transparent;
  border:2px solid #02baab;
  color:#02baab;
  width:7.5vw;
  height:4.5vh;
  margin-top: 3vh;
  font-size: 0.8vw;
}
.sec8_center .card .bottom{
  width:100%;
  height:25%;
  position: absolute;
  bottom: 0;
  background-color: white;
}
.sec8_center .bottom button{
  border:0;
  background-color: #02baab;
  border:2px solid #02baab;
  color:white;
  width:7.5vw;
  height:4.5vh;
  margin-top: 4vh;
}
